/* -------------------------------------------------------------------------- */
/*                                global styles                               */
/* -------------------------------------------------------------------------- */
:root {
    --text: #101214;
    --background: #fcfcfd;
    --primary: #1D3557;
    --secondary: #A8DADC;
    --accent: #E63946;
    --navbar-size: 3em;
}

*,
*:before,
*:after {
    /* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
    scrollbar-width: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text);
}

html,
body {
    font-family: 'Rubik', 'sans-serif';
    max-width: 100vw;
    scroll-behavior: smooth;
}

body {
    /* https://matthewjamestaylor.com/responsive-font-size */
    font-size: calc(15px + 0.390625vw);
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    height: 100vh;
    max-width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
i {
    color: var(--text);
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 2.6rem;
}

p {
    text-align: justify;
}

footer {
    font-size: 1rem;
    padding: 0 15%;
    line-height: 0.5rem;
}

.text-center {
    text-align: center;
}

/* https://cssgradient.io/blog/css-gradient-text/ */
.gradient-text {
    background: -webkit-linear-gradient(-45deg,
            var(--primary),
            var(--accent));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

@keyframes fade-into-view-l {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    
    10% {
        opacity: 0;
    }

    35% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-into-view-r {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    
    10% {
        opacity: 0;
    }

    35% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* -------------------------------------------------------------------------- */
/*                               specific styles                              */
/* -------------------------------------------------------------------------- */
.main {
    background: linear-gradient(var(--background),
            var(--secondary),
            var(--background));
}

/* ------------------------------ navbar styles ----------------------------- */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;

    top: 0;
    width: 100%;
    height: var(--navbar-size);
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 2;
}

.logo {
    font-size: 2rem;
}

.nav-list,
.scroll-progress-bar {
    display: none;
    position: fixed;
    top: var(--navbar-size);
    width: 100%;
    height: 5px;
    background: linear-gradient(45deg,
            var(--primary),
            var(--accent));
    transform-origin: left;
    transform: scaleX(0);
    animation: scroll-watcher linear;
    animation-timeline: scroll();
    z-index: 2;
}

@media (min-width:641px) {

    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    #navbar {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        z-index: 2;
        position: fixed;
    }

    .scroll-progress-bar {
        display: block;
    }

    @keyframes scroll-watcher {
        to {
            transform: scaleX(1);
        }
    }
}

/* ------------------------- welcome section styles ------------------------- */
#welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro img {
    aspect-ratio: 1 / 1;
    width: 57%;
    min-width: 300px;
    border-radius: 34% 66% 29% 71% / 74% 31% 69% 26%;
    background: #fcfcfd;
    box-shadow: 20px 20px 80px #8d8d8e,
        -20px -20px 80px #ffffff;
}

.intro h1 {
    margin-bottom: 0;
}

.intro p {
    margin-top: 0.5em;
}

/* https://unused-css.com/blog/animated-down-arrow/ */
.scroll-down {
    position: relative;
    display: block;
    font-size: 20px;
    width: 13px;
    height: 13px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    transform: translate(-50%, 0) rotate(45deg);
    animation: fade-move-down 2s ease-in-out infinite;
}

@keyframes fade-move-down {
    0% {
        transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

@media (min-width:641px) {

    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .intro {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 8%;
        padding-right: 10%;
    }

    .intro img {
        width: 50%;
    }

    .intro h1,
    p {
        text-align: end;
    }
}

/* -------------------------- about section styles -------------------------- */
#about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15%;
    animation: fade-into-view-l linear;
    animation-timeline: view();
}

#about-section h2 {
    margin-bottom: 3%;
}

#about-section p {
    text-indent: 2.5rem;
    text-align: justify;
}

@media (min-width:641px) {

    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    #about-section .scroll-down {
        top: 30px;
    }
}

/* ------------------------- projects section styles ------------------------ */
#projects-section {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15%;
    animation: fade-into-view-r linear;
    animation-timeline: view();
}

#projects-section h2 {
    margin-bottom: 1em;
}

#projects-section i {
    color: rgba(255, 255, 255, 0.9);
    margin-right: 3%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    padding-bottom: 13%;
}

/* https://devdevout.com/css/css-cards */
.article-card {
    aspect-ratio: 1.6 / 1;
    min-width: 300px;
    max-width: 350px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 300ms;
    background-color: var(--background);
}

@media (min-width: 720px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1080px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.article-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.article-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-card .content {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    padding: 30px 20px 20px 20px;
    height: auto;
    bottom: 0;
    background: linear-gradient(transparent,
            rgba(0, 0, 0, 0.6) 50%);
}

.article-card .project-lang,
.article-card .title {
    margin: 0;
    text-align: start;
}

.article-card .project-lang {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 4px;
}

.article-card .title {
    font-size: 17px;
    color: #fff;
}

/* ------------------------- contact section styles ------------------------- */
#contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 9em;
    animation: fade-into-view-l linear;
    animation-timeline: view();
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-option {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    text-decoration: none;
    border-radius: 10px;
    color: var(--text);
    padding-right: 3em;
    padding-left: 1em;
}

.contact-option i {
    margin-right: 3%;
    font-size: 2em;
}

.contact-option p {
    border-bottom: 2px solid #000;
}

.contact-option:hover {
    background: linear-gradient(to right, var(--primary), var(--accent));
    transform: scale(1.05);
    transition: all 300ms;
}

.contact-option:hover p {
    border-bottom-color: var(--background);
    color: var(--background);
}

.contact-option:hover i {
    color: var(--background);
}

/* ------------------------------ footer styles ----------------------------- */
footer a {
    color: var(--accent);
}

/* https://stackoverflow.com/questions/6370690/media-queries-how-to-target-desktop-tablet-and-mobile */
/* unused media queries */
@media (min-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}